/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self 
 */



.table th .current {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: url(/images/up_arrow.jpg);
}

.table th .desc {
  background-image: url(/images/down_arrow.jpg);
}

table.table {
	border-collapse: collapse;
	th, td { border: dotted 1px #aaa; padding: 0.5em; vertical-align: center; text-align: left; }
}


.del { color: blue; border-bottom: dotted; cursor: pointer; }

.cont{
    width:300px;
    margin-left:20px;
    margin-top:5px;
    padding:10px 20px;
    font-size:20px;
}

.col-lg-9{
    font-size:20px;
}